{{/*
    Usage:
    {{ partial "components/heading.html" . }}

    Self-contained section med balevikit heading-mønster.
*/}}

<section class="bg-slate-100">
    <div class="container">
        <h1 class="text-4xl font-semibold leading-snug tracking-tight mt-0 mb-6 text-gray-900">
            {{.Page.Title}}
        </h1>
        {{ with .Page.Params.description }}
            <p class="text-lg leading-normal text-gray-700 max-w-2xl">
                {{.}}
            </p>
        {{ end }}
    </div>
</section>