{{ define "main" }}
<div class="page__practical">
    <div class="component">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="m-0">{{.Title}}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="component">
        <div class="container">
            <div class="row g-5">
                {{ range .Page.Params.faq }}
                <div class="col-lg-8 ">
                    <h2>{{.title}}</h2>
                    <p>{{.content | safeHTML}}</p>
                    {{ if .button }}
                    <a class="btn btn-outline-secondary" href="{{.url}}">{{.button}}</a>
                    {{ end }}
                </div>
                {{ end }}

            </div>
        </div>
    </div>
</div>
{{ end }}