{{ define "main" }}
<div class="page__explore">
    <div class="component">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <h1>{{.Title}}</h1>
                    <p>{{.Page.Params.intro}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="component">
        <div class="container">
            <div class="list">
                {{ range .Page.Params.activeties }}
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-xxl-6 text__container">
                            <h2>{{.title}}</h2>
                            <p>{{.desc}}</p>
                            <div class="navigation__actions">
                                <a href="{{.homepage}}">{{.button}}</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-xxl-4 image__container">

                            {{ $image := resources.GetMatch .img }}
                            {{ $image := $image.Fill "699x411" }}
                            <img src="{{$image.RelPermalink}}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="">

                            {{ if .source }}
                            <div class="source">{{ i18n "image" }}: {{.source}}</div>
                            {{ end }}
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}