html {
    font-size: 16px;
}

.navigation__actions {
    a {
        border:1px solid $primary-signal-color;
        color:black;
        &:hover {
           background-color: $primary-signal-color;
           color:white!important; 
        }
    }
}

.header {
    margin-bottom: 0px;
}

.page__practical {
    
    .col-lg-8 {
        margin-top: $size-md;

        &:first-of-type {
            margin-top:0!important;
        }
    }
}

.page__apartments {
    img {
        max-height: 450px!important;
    }
}

.page__index {

    &:nth-child(odd){
        background-color: $component-color;
    }

    .f-list {
        h2 {
            margin-top:$size-md;
        }
        .text__container {
            height: 100%;
            padding:25px;
            background-color: white;
            @extend .box-shadow;
        }
        img {
            height: auto;
            width: 100%;
            object-fit: cover;
        }
        .navigation__actions {
            margin-left: unset!important;
            margin-top:$size-lg;
        }
    }

    img {
        width:100%!important;
        object-fit: cover;
    }

    .carousel-inner {
        img {
            height:700px!important;

            @include tablet(){
                height:400px!important;
            }
        }
    }
}
.page__explore {

    .list {

        position: relative;

        .text__container {
            background-color: white;
            @extend .box-shadow;
            padding:50px;            
        }

        .image__container {
            @include mobile(){
                padding:unset!important;
            }
        }

        img {
            width: 100%;
            object-fit: cover!important;
            max-height: 450px;

            @include mobile(){
                max-height: 100%!important;
            }
        }

        .row {
            @extend .align-items-center;

            &:not(:last-of-type){
                margin-bottom: $size-xl!important;
            }

            &:nth-child(even){
                @extend .flex-row-reverse;
            }
        }

        .navigation__actions {
            margin:unset;
            padding-top: $size-md;
            
        }
    }
}

.line {
    background-color: $secondary-text-color;
    border-radius: 25px;
    height: 9px;
    width: 100%;
    display: block;
    max-width: 55%;
    margin-left: 35px;
    margin-top:-10px;
    margin-bottom: $size-md;

    @include tablet(){
        max-width: 80%;
    }
}

.header__title {
    .line {
        margin-left:0!important;
        margin-bottom:0!important;
    }
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
 
.textbox {
    background-color:$primary-signal-color;
    padding:45px 80px;

    @include mobile(){
        padding:45px 20px;
    }

    .navigation__actions {
        a {
            border: 1px solid white!important;

            &:hover {
               background-color: white!important;
               color:black!important; 
            }
        }
    }
       
}