@import "ayro/ayro";

.page__index {
    .intro-text {
        max-width: 80%;
        margin: auto;

        @include tablet(){
            max-width: 100%;
        }
    }
}

header {
    .btn {
        &::before {
            padding-right: 6px;
        }
    }
}

.page__practical {
    .g-5 {
        .col-lg-8:first-of-type {
            margin-top: unset !important;
        }
    }
}

.page__activeties {
    .activeties__list {
        .row {
            &:nth-child(even) {
                @extend .flex-row-reverse;
            }
        }
    }
}

.page__rental {
    .list {
        .row {
            &:nth-child(even) {
                @extend .flex-row-reverse;
            }
        }
    }  
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

img {
    width: 100%;
}