{{ define "main" }}
<div class="page__apartments">
    <div class="component">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <h1>{{.Title}}</h1>
                    <p class="ingress">{{.Page.Params.intro}}</p>
                </div>
            </div>
        </div>
    </div>

    {{ $entry := 0 }}
    {{ range .Page.Params.apartments }}
    {{ $counter := 0 }}
    {{ $counter_2 := 0 }}
    <div class="component">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-xl-6 col-xxl-5 ">

                    <div class="effect">
                        <h2 class="mt-0">{{.title}}</h2>
                        {{ range .details }}
                            {{.}}
                        {{ end }}
                        <br><br>
                        <p>{{.desc}}</p>
                        <div style="margin-left:0px!important">
                            <br>
                            <a class="btn btn-outline-secondary" href="{{.link}}">Airbnb {{.title}}</a>
                            <br><br> 
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-xxl-4 image__container">

                    <!-- Carousel -->
                    <div id="id-{{$entry}}" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">

                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                            {{ range .images }}

                                <button type="button" data-bs-target="#id-{{$entry}}" data-bs-slide-to="{{$counter_2}}"
                                    class="{{ if eq $counter_2 0}}active{{end}}"></button>
                                {{ $counter_2 = add $counter_2 1 }}
                            {{ end }}
                        </div>

                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                            {{ range .images }}
                            <div class="carousel-item {{ if eq $counter 0}}active{{end}}">
                                
                                {{ $image := resources.GetMatch . }}
                                {{ $image := $image.Fill "650x450" }}
                                {{ $colors := $image.Colors }}
                                <img {{ if ne $counter 0 }} loading="lazy" decoding="async" {{end}} src="{{$image.RelPermalink}}" style="background-color: {{index $colors 3}}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="">
       
                            </div>
                            {{ $counter = add $counter 1 }}
                            {{ end }}
                        </div>

                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#id-{{$entry}}"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#id-{{$entry}}"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                        {{ $entry = add $entry 1 }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}