{{ define "main" }}
<div class="page__apartments">

    {{ partial "components/banner.html" . }}

    <div class="component">
        <div class="container">

            {{ range .Page.Params.apartments }}
            <div class="row gx-0">
                <div class="col-xl-6 col-xxl-6 border p-4 bg-white d-flex">
                    <div class="my-auto">
                        <div class="effect">
                            <h2 class="mt-0">
                                {{.title}}
                            </h2>
                            
                            <label class="mb-3">
                            {{ range .details }}
                                {{.}}
                            {{ end }}
                            </label>
                   
                            <p>{{.desc}}</p>
                            <div style="margin-left:0px!important">
                        
                                <a class="btn" href="{{.link}}">Airbnb {{.title}}</a>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-xxl-6 image__container">
                    {{ partial "components/carousel.html" (dict "ctx" . "images" .images ) }}
                </div>
            </div>
            {{ end }}

        </div>
    </div>
</div>
{{ end }}