{{ define "main" }}
<div class="page__rental">
  
    {{ partial "components/banner.html" . }}
    
    <div class="component">
        <div class="container">
            <div class="list">
                {{ $entry := 0 }}
                {{ range .Page.Params.items }}
                <div class="row g-0">
                    <div class="col-lg-6 my-auto border p-5">
                        <h2>{{.title}}</h2>
                        <p>{{.desc | safeHTML}}</p>
                        {{ if .price }}
                        <p>{{.price | safeHTML}}</p>
                        {{ end }}
                        {{ if .button }}
                        <div style="margin-left:0px!important">
                            <a class="btn btn-outline-secondary" href="{{.url}}">{{.button}}</a>
                        </div>
                        {{ end }}
                    </div>

                    {{ if .images }}
                    {{ $counter := 0 }}
                    {{ $counter_2 := 0 }}
                    <div class="col-lg-6">

                        <!-- Carousel -->
                        <div id="id-{{$entry}}" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">

                            <!-- Indicators/dots -->
                            <div class="carousel-indicators">
                                {{ range .images }}
                                <button type="button" data-bs-target="#id-{{$entry}}" data-bs-slide-to="{{$counter_2}}"
                                    class="{{ if eq $counter_2 0}}active{{end}}"></button>
                                {{ $counter_2 = add $counter_2 1 }}
                                {{ end }}
                            </div>

                            <!-- The slideshow/carousel -->
                            <div class="carousel-inner">
                                {{ range .images }}
                                <div class="carousel-item {{ if eq $counter 0}}active{{end}}">

                                    {{ $image := resources.GetMatch . }}
                                    {{ $image := $image.Fill "650x450" }}
                                    {{ $colors := $image.Colors }}
                                    <img src="{{$image.RelPermalink}}" style="background-color: {{index $colors 3}}"
                                        width="{{ $image.Width }}" height="{{ $image.Height }}" alt="">

                                </div>
                                {{ $counter = add $counter 1 }}
                                {{ end }}
                            </div>

                            <!-- Left and right controls/icons -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#id-{{$entry}}"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#id-{{$entry}}"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                            {{ $entry = add $entry 1 }}
                        </div>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}