{{ define "main" }}
<div class="page__explore">
    <div class="component">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <h1>{{.Title}}</h1>
                    <p>{{.Page.Params.intro}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="component">
        <div class="container" style="max-width:1400px!important;">
            <div class="list">
                {{ $entry := 0 }}
                {{ range .Page.Params.items }}
                <div class="row justify-content-center">
                    <div class="col text__container">
                        <h2>{{.title}}</h2>
                        <p>{{.desc | safeHTML}}</p>
                        {{ if .price }}
                            {{.price | safeHTML}}
                        {{ end }}
                        {{ if .button }}
                            <div class="navigation__actions" style="margin-left:0px!important">
                                <a href="{{.url}}">{{.button}}</a>
                            </div>
                        {{ end }}
                    </div>

                    {{ if .images }}
                    {{ $counter := 0 }}
                    {{ $counter_2 := 0 }}
                    <div class="col-lg-6 image__container">

                        <!-- Carousel -->
                        <div id="id-{{$entry}}" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">

                            <!-- Indicators/dots -->
                            <div class="carousel-indicators">
                                {{ range .images }}
                                <button type="button" data-bs-target="#id-{{$entry}}" data-bs-slide-to="{{$counter_2}}" class="{{ if eq $counter_2 0}}active{{end}}"></button>
                                {{ $counter_2 = add $counter_2 1 }}
                                {{ end }}
                            </div>

                            <!-- The slideshow/carousel -->
                            <div class="carousel-inner">
                                {{ range .images }}
                                <div class="carousel-item {{ if eq $counter 0}}active{{end}}">

                                    {{ $image := resources.GetMatch . }}
                                    {{ $image := $image.Fill "650x450" }}
                                    <img src="{{$image.RelPermalink}}" {{ if (ne $counter 0) }}loading="lazy"{{end}} width="{{ $image.Width }}" height="{{ $image.Height }}" alt="">
        
                                </div>
                                {{ $counter = add $counter 1 }}
                                {{ end }}
                            </div>

                            <!-- Left and right controls/icons -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#id-{{$entry}}"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#id-{{$entry}}"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                            {{ $entry = add $entry 1 }}
                        </div>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}