{{ define "main" }}
<div class="page__index">

    <div class="component" style="background-repeat:no-repeat;background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('/images/IMG_6391.jpeg');background-size: 100% auto;background-position:center;">
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="col-lg-6 text-center text-white textbox">
                    <h1>{{.Title}}</h1>
                    <span class="line"
                        style="margin:unset; background:white; width:20%; margin:auto; margin-bottom:50px;margin-top:25px;"></span>
                    <p>{{.Page.Params.intro}}</p>
                    <div class="navigation__actions" style="margin-left:unset;margin-top:35px;text-align: center;">
                        <a href="leiligheter" class="text-white">{{.Page.Params.intro_button}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="component pt-3">
        <div class="container">
            <div class="f-list">
                <div class="row gx-5 gy-5 justify-content-center">
                    {{ range .Page.Params.items }}
                    <div class="col-xl-4">
                        <div class="text__container">
                            <img src="{{.image}}" alt="{{.alt}}" />
                            {{ if .source }}
                            <div class="source">{{ i18n "image" }}: {{.source}}</div>
                            {{ end }}
                            <h2>{{.title}}</h2>
                            <p>{{.desc}}</p>
                            <div class="navigation__actions">
                                <a href="{{.url}}">{{.button}}</a>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}