{{ define "main" }}

{{ partial "components/banner.html" . }}

<div class="component">
    <div class="container">
        <div class="row justify-content-left">
            <div class="col-lg-10">
                <div class="map-responsive" style="padding-bottom:30%;">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1921.5053681209104!2d6.533910516199257!3d61.20990196587303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46161d2c84a80a89%3A0x22dd2a5b28b82bb6!2sHolmen%2019%2C%206899%20Balestrand!5e0!3m2!1sno!2sno!4v1625932344279!5m2!1sno!2sno"
                        width="600" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}